#wik{
text-decoration: underline;
text-align: center;
}
.prin{
 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px; 
  max-width: 100%;
  height: auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
  margin: 55px;
  text-indent: 1.5rem;
 

}
#ca{
    background-color: rgb(89, 212, 212);
    font-size: 30px;
    text-align: center;
}

.capa{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px; 
  max-width: 100%;
  height: auto;
    
}
.img_cavaleiros{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px; 
  max-width: 100%;
  height: auto;  
}
#Topo{
    text-align: center;
    color: rgb(192, 34, 34);
}


#principais_topicos{
  text-align: center;
}
tbody{
  background-color: rgba(240, 239, 224, 0.705);
  text-align: left;
}
p{
text-indent: 1.5rem;
text-align: justify;
}
.ta{
  font-family: initial;
}
#veja_mais{
  text-align: center;
}
.link a{
  color: black;
  font-size: 40px;
}
table {
  width: 100%; 
  max-width: 100px; 
  height: auto;
  border: 1px solid;
}
